PORT=4002
DATABASE_URL=postgres://postgres:postgres@localhost:5432/tafeito_payment
RABBITMQ_URL=amqp://admin:admin@localhost:5672
JWT_SECRET=your-jwt-secret
ASAAS_BASE_URL=https://api-sandbox.asaas.com/v3
ASAAS_ACCESS_TOKEN=your-asaas-access-token
ASAAS_USER_AGENT=tafeito-api/1.0
